<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Eagle+Lake&family=Prata&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
            <script src="/js/script.js"></script>
            <title>Traveling Monkey</title>
        </head>
        <body>
            <%- include ('partials/nav.ejs') %>

            <div class="sidenav">
                <div class="profile">
                    <% if (session.userCidade) { %>
                        <img src="<%= session.userCidade.pic %>" alt="" width="100" height="100">
                        <div class="name">
                            <%= session.userCidade.nome %>
                        </div>
                    <% } else if (session.userGuia) { %>
                        <img src="<%= session.userGuia.pic %>" alt="" width="100" height="100">
                        <div class="name">
                            <%= session.userGuia.nome %>
                        </div>
                    <% } else if (session.userTurista) { %>
                        <img src="<%= session.userTurista.pic %>" alt="" width="100" height="100">
                        <div class="name">
                            <%= session.userTurista.nome %>
                        </div>
                    <% } %>
                    
                    <% if (session.userCidade) { %>
                        <div class="job">
                            <span>Cidade</span>
                        </div>
                    <% } else if (session.userGuia) { %>
                        <div class="job">
                            <span>Guia de Turismo</span>
                        </div>
                    <% } else if (session.userTurista) { %>
                        <div class="job">
                            <span>Turista</span>
                        </div>
                    <% } %>
                </div>
                <div class="sidenav-url">
                    <div class="url">
                        <a href="#profile" class="active">Perfil</a>
                        <hr align="center">
                    </div>
                    <div class="url">
                        <a href="#settings">Configurações</a>
                        <hr align="center">
                    </div>
                </div>
            </div>
            <div class="profileContainer">
                <% if(messages.success) { %>
                    <div class="alertSuccess">
                        <%= messages.success %>
                    </div>
                <% } %>
                <div class="cardProfile">
                    <div class="cardProfileBody-Personal">
                        <div class="cardProfileTitle">
                            <i class="fa fa-pen fa-xs edit"></i>
                            <% if (session.userCidade) { %>
                                <h2>Infos: <%= session.userCidade.nome %></h2>
                            <% } else if (session.userGuia) { %>
                                <h2>Infos: <%= session.userGuia.nome %></h2>
                            <% } else if (session.userTurista) { %>
                                <h2>Infos: <%= session.userTurista.nome %></h2>
                            <% } %>
                        </div>
                        <div class="cardProfileBody-Inputs">
                            <% Object.keys(session).forEach(key => { %>
                                <% if (key.startsWith('user')) { %>
                                    <label>Nome:</label>
                                    <span><%= session[key].nome %></span>
                                    <label>E-mail:</label>
                                    <span><%= session[key].email %></span>
                                    <label>E-mail:</label>
                                    <span><%= session[key].email %></span>  
                                <% } %>
                            <% }); %>
                        </div>
                        
                    </div>
                    <div class="cardProfileBody-Infos">
                        <div class="cardProfileTitle">
                            <i class="fa fa-pen fa-xs edit"></i>
                            <% if (session.userCidade) { %>
                                <h2>Pontos túristicos Cadastrados:</h2>
                            <% } else if (session.userGuia) { %>
                                <h2>Histórico de viagens</h2>
                            <% } else if (session.userTurista) { %>
                                <h2>Histórico de reservas:</h2>
                            <% } %>
                        </div>
                    </div>
                </div>
        
                <div class="cardSocialMedia">
                    <div class="cardProfileTitle">
                        <i class="fa fa-pen fa-xs edit"></i>
                        <h2>Conecte-se</h2>
                    </div>
                    <div class="social-media">
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-invision fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </div>
            </div>
        <%- include ('partials/footer.ejs') %>